<form class="form" [formGroup]="formLogin" (ngSubmit)="handelLogin()" autocomplete="off">
  <div class="control">
    <h1>Big Banking</h1>
  </div>

  <!-- Error alert -->
  <div *ngIf="loginError" class="alert alert-danger" role="alert">
    {{ loginError }}
  </div>

  <div class="control block-cube block-input">
    <input 
      type="text" 
      formControlName="username" 
      placeholder="Username"
    />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>

  <div class="control block-cube block-input">
    <input 
      type="password" 
      formControlName="password" 
      placeholder="Password"
    />
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
  </div>

  <button 
    type="submit" 
    class="btn block-cube block-cube-hover" 
    [disabled]="formLogin.invalid"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Log In</div>
  </button>
</form>