<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Big Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>



        <li class="nav-item dropdown" *ngIf="authService.roles.includes('ADMIN')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accounts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><a class="dropdown-item" routerLink="/accounts/create-current">New Current Account</a></li>
            <li ><a class="dropdown-item" routerLink="/accounts/create-saving">New Saving Account</a></li>
          </ul>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/admin/customers">Search customers</a></li>
            <li *ngIf="authService.roles.includes('ADMIN')"><a class="dropdown-item" routerLink="/admin/new-customer">New customer</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/accounts">Operations</a>
        </li>

      </ul>



      <ul class="navbar-nav ms-auto" *ngIf="authService.isAuthenticated">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle fs-4 me-1"></i>
            {{ authService.username }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="/settings">
                <i class="bi bi-gear me-2"></i>
                Settings
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                class="dropdown-item d-flex align-items-center text-danger"
                (click)="handelLogout()"
              >
                <i class="bi bi-box-arrow-right me-2"></i>
                Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
</nav>
